@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;900&display=swap");
:root {
  --primary: #fc466b;
  --secondary: #fff;
  --tertiary: #222;
  --error: #fc466b;
  --gradient: linear-gradient(90deg, rgba(232,2,83,1) 0%, rgba(132,21,161,1) 82%);
}
body {
  background-color: var(--tertiary);
  color: var(--secondary);
  font-family: "Libre Franklin", sans-serif;
}
a,
a:visited {
  color: var(--primary);
}
a:hover,
a:focus,
a:active {
  border: 1px solid var(--primary);
}
main {
  margin: 1em auto;
  max-width: 50rem;
  min-width: 15rem;
  padding: 1em;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  column-gap: 3em;
}
.item {
  flex-grow: 2;
  flex-basis: 40%;
}
h1 {
  border-radius: 0.25em;
  padding: 0.25em;
  font-size: 3em;
  text-align: center;
  color: var(--secondary);
  margin-top: 0;
  background: rgb(232,2,83);
  background: var(--gradient);
}
label,
legend {
  font-size: 1.3em;
  font-weight: bold;
  display: block;
  margin-top: 1em;
}
legend {
  color: var(--secondary);
  padding: 0.25em;
  margin-top: 1em;
  text-align: left;
}
fieldset {
  background-color: var(--tertiary);
  margin: 1em 0;
  border: 1px solid var(--secondary);
  min-width: 15rem;
  border-radius: 0.25em;
}
fieldset label {
  font-weight: normal;
  display: inline;
  white-space: nowrap;
}
input[type="text"],
input[type="email"],
select {
  font-size: 1.3em;
  width: 97%;
  min-width: 15rem;
  padding: 0.25em;
  border: 1px solid var(--tertiary);
  border-radius: 0.25em;
}
input[aria-invalid="true"],
select[aria-invalid="true"] {
  border: 0.2em solid var(--error);
}
input[type="checkbox"],
input[type="radio"] {
  height: 2em;
  width: 2em;
  margin-right: 1em;
  margin-top: 1em;
}
button {
  font-weight: bold;
  background-color: var(--secondary);
  border: 0.1em solid var(--secondary);
  color: var(--tertiary);
  font-size: 2em;
  padding: 0.5em;
  width: 100%;
  margin-top: 1em;
  border-radius: 0.25em;
}
button:hover,
button:focus {
  background-color: #8415A1;
  color: var(--secondary);
}
.errors {
  padding: 1em;
  border: 0.2em solid var(--error);
  border-radius: 0.25em;
}
.error,
.help {
  margin-bottom: 1em;
  font-size: 1.1em;
}
.error {
  color: var(--error);
}
.help {
  color: #ccc;
}
.fas {
  padding-right: 0.5em;
}
.visually-hidden {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}
